@import "../../../node_modules/antd/dist/antd.less"; // Introduce the official default less style entry file
//@import '~antd/dist/antd.dark.less'; // Introduce the official dark less style entry file
//@import '~antd/dist/antd.compact.less'; // Introduce the official compact less style entry file

// Ant customization
// https://ant.design/docs/react/customize-theme
@primary-color: #C02428;

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', 'Playfair Display', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
